<section class="block">
	<article class="news-post" ng-repeat="item in list" ng-animate="'animate'">
		<h3><a href="{{item.link}}" target="_blank">{{item.title}}</a></h3>
		<p>{{item.description}}</p>
	</article>

</section>

